.page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.content{
    border: 1px solid;
    width: 40%;
    max-width: 1240px;
    min-width: 400px;
    height: fit-content;
    background-color:rgb(245, 242, 242);
    border-radius: 10px;
}
.name{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}