
.table-container {
    margin-top: 20px;
    border-spacing: 0;

  }
  

  
  .table-header th {
   
    padding: 10px;
    background-color: rgb(255, 255, 255);

  }
  
  .table-body {
    background-color: white;
    
  }
  
  .table-body td {
    border: 1px solid;
    padding: 10px;
  }

