.page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 1440px;
}

.table-container {
  margin-top: 20px;
  border-spacing: 0;
 
}

.table-header {
  border-top: 1px solid;
  border-color: #c5c5c5;
}

.table-header th {
  padding: 7px;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #c5c5c5;
}

.table-body {
  background-color: white;
}

.table-body td {
  border: 1px solid;
  border-color: #c5c5c5;
  padding: 10px;
}
